<h1>Sup World!</h1>

<button id="clickMe">click me</button>
<ol id="greetingList">
</ol>

<button id="dateButton">find today's Birthday date!</button>
<p>Happy Birthday! Today is <span id="dateFill"></span></p>
<script type="text/javascript">
    const clickMeButton = document.getElementById("clickMe");
    const greetingList = document.getElementById("greetingList");

    addToGreetingList = function(event) {
        newItem = document.createElement("li");
        newItem.innerHTML = "Buenos Dias! Bien Salud.";
        greetingList.appendChild(newItem);
    }

    clickMeButton.addEventListener("click", addToGreetingList);

    const dateButton = document.getElementById("dateButton");
    const dateFill = document.getElementById("dateFill");

    addDate = function(event){
        dateFill.innerHTML = Date();
    }

    dateButton.addEventListener("click", addDate);

</script>

<% quote = Quote.first %>
<p>"<%= quote.content %>" -<%= quote.author_name %></p>

<div data-controller="sup">
    <button data-action="sup#addSupWorld">Click me</button>
    <ul data-target="sup.list">
        <li>Sup World Stimulus.js Start</li>
    </ul>
</div>

<h2>Create a Quote</h2>
<%= form_with model: @quote, url: '/create-quote', local: true do |f| %>
    Quote: <br /> <%= f.text_area :content, required: true %> <br />
    Author: <br /> <%= f.text_field :author_name, required: true %>
    <br /><br />
    <%= f.submit "Create Quote" %>
<% end %>

<ul id="quotes_list">
    <%= render partial: 'quote', collection: @quotes %>
</ul>